#INCLUDE####################################################
# output configuration
set $left "eDP-1"
set $center "DP-3"
set $right "DP-4"
output $left pos 0 920 res 1920x1080 scale 1.5
output $center pos 1280 0 res 1920x1200
output $right pos 3200 0 res 1920x1200

# dpms
output * dpms on

# turn of screen when laptop closed
bindswitch --reload lid:on output $laptop disable
bindswitch --reload lid:off output $laptop enable

# assign workspace to screens
workspace $tag1 output $center
workspace $tag2 output $center
workspace $tag3 output $right
workspace $tag4 output $left
workspace $tag5 output $right
workspace $tag6 output $right
workspace $tag7 output $center
workspace $tag8 output $center
workspace $tag9 output $left
workspace $tag10 output $left

# syncthing
exec_always bash -c "pgrep -x syncthing || syncthing"
#INCLUDE####################################################
